<label for="name">Operator Name:</label>
<%= text_field_tag :name %><br><br>
 
<label for="operator_attacker_true">Attacker:
<%= radio_button("operator", "attacker", true) %>
</label>
<label for="operator_attacker_false">Defender:
<%= radio_button("operator", "attacker", false) %>
</label><br><br>

<label for="primary">Primary Weapon:</label>
<%= collection_select(:operator, :id, @primary_weapons, :id, :name, prompt: true) %> <br><br>

<label for="primary_sight">Sight:</label>
<%= collection_select(:operator, :id, @sights, :id, :name, prompt: true) %> <br><br>

<label for="primary_barrel">Barrel Attachment:</label>
<%= collection_select(:operator, :id, @barrels, :id, :name, prompt: true) %> <br><br>

<label for="primary_barrel">Grip:</label>
<%= collection_select(:operator, :id, @grips, :id, :name, prompt: true) %> <br><br>

<label for="primary_laser">Laser:</label>
<%= check_box :laser, :laser %> <br> <br>

<label for="secondary">Secondary Weapon:</label>
<%= collection_select(:operator, :id, @secondary_weapons, :id, :name, prompt: true) %> <br><br>

<label for="secondary_sight">Sight:</label>
<%= collection_select(:operator, :id, @sights, :id, :name, prompt: true) %> <br><br>

<label for="secondary_barrel">Barrel Attachment:</label>
<%= collection_select(:operator, :id, @barrels, :id, :name, prompt: true) %> <br><br>

<label for="secondary_barrel">Grip:</label>
<%= collection_select(:operator, :id, @grips, :id, :name, prompt: true) %> <br><br>

<label for="secondary_laser">Laser:</label>
<%= check_box :laser, :laser %> <br> <br>

<label for="gadget">Gadget:</label>
<%= collection_select(:operator, :gadget_id, @attk_gadgets, :id, :name, prompt: true) %> <br><br>

<label for="utility">Utility:</label>
<%= collection_select(:operator, :utility_id, @attk_utility.all, :id, :name, prompt: true) %>
 
<br><br><%= submit_tag %>