<div id="ops">
<h1>Team Rainbow's Custom Operators</h1>
<% @operators.each do |op| %>
<% weapons = op.getWeapons %>
    <ul>
        <h3><li><%= link_to op.name, "/operators/#{op.id}" %> - Made by: <%= link_to op.user.username, "/users/#{op.user.id}/operators" %></li></h3>
        <ul>
            <b><li>Gadget: </b><%= op.gadget.name %></li>
            <b><li>Primary: </b><%= weapons[0].weapon.name %></li>
            <b><li>Secondary: </b><%= weapons[1].weapon.name %></li>
            <b><li>Utility: </b><%= op.utility.name %></li>
        </ul>
    </ul>
<% end %>
</div>