<h1>Create A New Operator</h1>
<% if flash[:error] %>
<%= flash[:error] %>
<% end %>
<%= form_tag "/operators" do %>
    <%= tag :input, :type => 'hidden', :name => 'timestamp', :value => @stale_form_check_timestamp %>
    <label for="name">Operator Name:</label>
    <%= text_field_tag "operator[name]" %><br><br>
    
    <label for="operator_attacker_true">Attacker:
    <%= radio_button("operator", "attacker", true) %>
    </label>
    <label for="operator_attacker_false">Defender:
    <%= radio_button("operator", "attacker", false) %> <br> <br>
    </label>

    <%= submit_tag "Continue" %>
<% end %>