<h1>Now Select Your Weapons, Gadget, Utility, and Speed/Armor For Your New <%= @type %> Named <%= params[:name] %></h1>

<%= form_tag "/operators/#{@operator.id}" do %> 
    
    <label for="gadget">Gadget:</label>
    <%= collection_select(:operator, :gadget_id, @gadgets, :id, :name, prompt: true) %> <br><br>

    <label for="utility">Utility:</label>
    <%= collection_select(:operator, :utility_id, @utility.all, :id, :name, prompt: true) %> <br><br>

    <label for="operator_speedarmor_3_speed_1_armor">3 Speed 1 Armor:
    <%= radio_button("operator", "speedarmor", "3 Speed 1 Armor") %>
    </label>

    <label for="operator_speedarmor_2_speed_2_armor">2 Speed 2 Armor:
    <%= radio_button("operator", "speedarmor", "2 Speed 2 Armor") %>
    </label>

    <label for="operator_speedarmor_1_speed_3_armor">1 Speed 3 Armor:
    <%= radio_button("operator", "speedarmor", "1 Speed 3 Armor") %> 
    </label>
    
    <br><br><%= submit_tag "Submit" %>
<% end %>