<h1><%= @operator.name %> - Made by: <%= link_to @user.username, "/users/#{@user.id}/operators" %></h1>
<p><b>Class: </b><%= @type %></p>
<p><b>Gadget: </b><%= @operator.gadget.name %></p>
<p><b>Utility: </b><%= @operator.utility.name %></p>
<p><b>Speed and Armor: </b><%= @operator.speedarmor %></p>
<p><b>Primary: </b><%=@weapons[0].weapon.name %></p>
<ul>
    <li>Sight: <%= @weapons[0].sight.name %></li>
    <li>Barrel Attachment: <%= @weapons[0].barrel.name %></li>
    <li>Grip: <%= @weapons[0].grip.name %></li>
    <% if @weapons[0].laser == true %>
        <li>Laser: Yes</li>
    <% else %>
        <li>Laser: No</li>
    <% end %>
</ul>
<p><b>Secondary: </b><%= @weapons[1].weapon.name %></p>
<ul>
    <li>Sight: <%= @weapons[1].sight.name %></li>
    <li>Barrel Attachment: <%= @weapons[1].barrel.name %></li>
    <li>Grip: <%= @weapons[1].grip.name %></li>
    <% if @weapons[1].laser == true %>
        <li>Laser: Yes</li>
    <% else %>
        <li>Laser: No</li>
    <% end %>
</ul>
<h4>* Some attachments may not actually be available for the specific weapons in game. *</h4>
<br>
<% if @user.id.to_s == session[:user_id] %>
    <%= link_to "Delete Operator", "/operators/#{@operator.id}/delete" %>
<% end %>