<!DOCTYPE html>
<html>
  <head>
    <title>Mod2ProjectCustomSiegeOperators</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user %>
      <!-- current_user will return true if a user is logged in -->
      <b><%= "Logged in as #{current_user.username}" %></b> | <%= link_to 'Home', operators_path %> | <%= link_to 'New Operator', operators_new_path %> | <%= link_to 'My Operators', "/users/#{current_user.id}/operators" %> | <%= link_to 'My Account', user_path(current_user) %> | <%= link_to 'Log Out', logout_path, method: :delete %>
    <% else %>
      <!-- not logged in -->
      <%= link_to 'Home', operators_path %> | <%= link_to 'Log In', login_path %> or <%= link_to 'Sign Up', new_user_path %>
    <% end %>
    <hr>

    <% if notice %>
      <%= notice %>
	  <% end %>
	
	  <% if alert %>
      <%= alert %>
	  <% end %>

    <%= yield %>
  </body>
</html>
